[storages]
shared_storage = ../shared_storage
local_storage = ../local_storage
interproc_storage = ../inter_proc_storage


[execution_environment]
# package name of execution environment
package = test_execution_environment
execution_environment_dir = ./execution_environment
commands_dir = ./execution_environment/test_execution_environment/commands


[worker]
# ulimit, docker
spawn_method = ulimit

#memoty limit in megabytes
memory_limit = 250

# process limit per worker (only for docker)
proc_num_limit = 4
# number of workers
workers = 4
# listening ports for workers 8091, 8092, 8093 ... or index for socket file
start_port = 50101
# socket type for worker. unix or inet
socket_type = unix

[computing_node]
# will be auto generated with first launch if empty
uuid =
# hostid linux command will be used if empty
host_id =
# type name of computing node EEP SPARK POSTPROCESSING
type = test
# sending resource info interval
health_check_interval = 3

[server]
port = 50100
socket_type = unix
run_dir = ../run


[kafka_producer]
bootstrap_servers = localhost
acks = all

[kafka_consumer]
bootstrap_servers = localhost:9092
group_id = complex_rest

[logging]
log_dir = ../logs
level = INFO
rotation_size = 10
keep_files = 10




